.form{overflow:hidden;background-image:url(../img/forest.png);height:1000px;}
.headline {font-size: 20px;font-weight: bolder;color:#505050;text-align: center;margin-top: 30px;background-color:#a6e2de;}
.form_logo{font-weight:900;font-size:50px;color:#606061;padding:10px;height:100px;width:500px;border:10px solid #777879; margin:0 auto; position:relative;}
.head{margin:100px; position:relative;text-align: center;}
.line{margin-left:1200px; margin-top: 20px;}

.aboutus{height:700px;padding:70px;text-align:center}

.aboutus_sit{margin-top:100px;float:left;}
.aboutus_text{margin-top:100px;text-align:left;margin-left:600px;}
.aboutus_text-title{font-family:Merriweather,serif;font-weight:700;font-size:25px;color:#646464}
.head2{background-color:#a6e2de;font-weight: bolder;color:#505050;}
.aboutus_text1{font-family:Raleway,sans-serif;font-weight:400;font-size:15px;line-height:26px;color:#666767}
#butt1{font-weight:bolder;color:#fff;margin-top:60px; margin-left:300px; width:228px;height:70px;background-color:#a6e2de;;font-size:17px}

.choose{margin-top:80px;text-align: center;font-weight: bolder;color:#505050;}
.chose_category{padding: 5% 6%;font-weight: bolder;color:#505050;}
.all{background-color:#a6e2de;}
.picture{width: 100%;margin-bottom: 20px;}

.youthink{padding: 5% 6%; background-color: #7beec7;}

.btn{border-radius: 0;}

.youthink_h4{color: aliceblue;}
 
.youthink_button{color: #7beec7;}

.youthink1{padding-bottom: 5%;}
.stay{color:#646464;}
.lorem{color:#646464;}

.youthink2{background-color: #fff; padding: 2%;}

.input_in{padding: 10px;border-top: 0;border-left: 0;border-right: 0;color:#646464;}

.youthink_button2{background-color:#7beec7; color: #fff;}
 

.contactus{padding: 3% 6%;color: #b6b6b6;border-bottom: 1px solid green;}

.btn_submit{background-color: #31d4e7;}

.kk{margin-left: 20px;color: #989898;}

.foot{text-transform: uppercase;color :#989898; margin: 0 10px;}

.created_by{text-transform: uppercase;}

.footer_left{text-align: right;}

 
 @media (max-width: 1200px){
 .line{
 margin-left:1000px;
 }
 #butt1{
 margin-left:200px;
 }
 }

  @media (max-width: 1200px){
  
  }